.bebas{
    background: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-color: white;

}
.isibox{
    background-image: linear-gradient(to right,#330019,red);

    min-width: 500px;
    max-width: 1000px;
    padding: 100px;
    text-align: center;
    box-shadow: 0 0 50px white;
}

#judul{
    color: rgb(51, 176, 192);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    background-color: coral;
    text-align: center;
    padding-top: 0px;
}
.search-box{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    background:whitesmoke;
    margin-top: 30px;
    padding: 10px;
    
}
.search-box> .search-txt{
    width: 240px;
    padding: 0 6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search-box:hover > .search-btn{
    background: blue;

}
.search-btn{
    color: whitesmoke;
    text-align: center;
    font-size: 10px;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background: #1653aa;
    display: inline;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

#hiastable{
    margin-top: 110px;
    font-family: 'Patua One', cursive;
    color:#9999FF;
    size: 10px;
    
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
#tombol{
    color: blanchedalmond;
    
}


.sabeb{
    background: coral;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-color: white;

}


.boxisi{
    background-image: linear-gradient(to right,rgb(54, 167, 148),rgb(35, 144, 177));
    position: absolute;

    min-width: 500px;
    max-width: 1000px;
    padding: 100px;
    text-align: center;
    box-shadow: 0 0 50px white;
}
#judul2{
    color: rgb(51, 176, 192);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}