{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Kurale|Laila|Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Patua+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">




	<title>{{page_title}}</title>
</head>
<style src="{% static 'css/style.css' %}"></style>
<body>
		<div class='bebas' >
				<div class = "isibox">
						
						<ul>
								<a href="{% url 'login' %}" class="btn btn-default" id="tombol">Login</a>
								<a href="{% url 'logout' %}" class="btn btn-default" id="tombol">Logout</a>
								
							</ul>
					<h1 id="judul2"> Selamat Datang di {{page_title}}  </h1>
					<div class="search-box" >
							<h3>Halo: {{user}}</h3>
					</div>
					
				</div> 
				
			</div>


			<!-- <ul>
				<li><a href="{% url 'login' %}">Login</a></li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
		
			<h1>Selamat Datang di {{page_title}}</h1>
			<h3>Halo: {{user}}</h3> -->
	
</body>
</html>












<!-- <!DOCTYPE html>
<html>
<head>
	<title>{{page_title}}</title>
</head>
<body>
	<ul>
		<li><a href="{% url 'login' %}">Login</a></li>
		<li><a href="{% url 'logout' %}">Logout</a></li>
	</ul>

	<h1>Selamat Datang di {{page_title}}</h1>
	<h3>Halo: {{user}}</h3>

</body>
</html> -->