{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Kurale|Laila|Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Patua+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
	<title>{{page_title}}</title>
</head>
<style src="{% static 'css/style.css' %}"></style>
<body style="background-color:coral;">
		<h1 style=" text-align: center;" id="judul">{{page_title}}</h1>


		<div class="sabeb" >
				<div class = "boxisi">
						<form method="POST">
								{% csrf_token %}
								<label for="username" style="color: white;">Username: </label>
								<input type="text" name="username" id="username">
								<br>
								<label for="password" style="color: white;">Password: </label>
								<input type="password" name="password" id="password">
								<br>
								<button type="submit">Login</button>
							</form>
						
						
					
				</div> 
				
			</div>
		

		
	
</body>
</html>




<!-- <!DOCTYPE html>
<html>
<head>
	<title>{{page_title}}</title>
</head>
<body>
	<h1>{{page_title}}</h1>

	<form method="POST">
		{% csrf_token %}
		<label for="username">Username: </label>
		<input type="text" name="username" id="username">
		<br>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password">
		<br>
		<button type="submit">Login</button>
	</form>
</body>
</html> -->